<!-- Tentang Kami -->
<div class="tentang-kami mt-[98px] mb-[122px] px-4 sm:px-6 xl:px-0 max-w-[1200px] w-full mx-auto ">
  <div class="tentang-kami-content flex flex-col lg:flex-row gap-12 lg:gap-20 xl:gap-[144px] lg:items-center">
    <!-- Deskripsi -->
    <div class="tentang-kami-deskripsi w-full text-left">
      <h2 class="text-4xl sm:text-[64px] lg:text-[64px] font-bold text-black mb-10">Tentang Kami</h2>
      <p class="text-[#ababab] text-base sm:text-lg leading-relaxed">
        Skinalyze adalah website yang menggunakan teknologi Machine Learning untuk membantu mendeteksi kanker kulit
        secara dini. Dengan sistem analisis otomatis berbasis AI, siapa pun bisa mengecek kondisi kulitnya dengan mudah
        dan cepat. Kami hadir untuk meningkatkan kesadaran akan pentingnya pemeriksaan kulit dan mempermudah akses
        deteksi awal bagi semua orang.
      </p>
    </div>
    <!-- Gambar -->
    <img src="/assets/tentang_kami.jpg" alt="Tentang Kami"
      class="w-full lg:max-w-[463px] h-auto order-1 lg:order-nonecls" />
  </div>
</div>