<!-- Tentang Kami -->
<div class="tentang-kami bg-white py-20 px-6 md:px-20">
  <div
    class="tentang-kami-content flex flex-col md:flex-row items-center justify-between gap-10"
  >
    <!-- Deskripsi -->
    <div class="tentang-kami-deskripsi w-full pr-20 md:w-1/2 text-left">
      <h2 class="text-6xl font-bold text-black mb-4">Tentang Kami</h2>
      <p class="text-[#ababab] text-l leading-relaxed">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
    <!-- Gambar -->
    <img src="/assets/tentang_kami.jpg" alt="Tentang Kami" class="w-[463] h-[316]" />
  </div>
</div>