<div class="bg-[#f6f4f0] py-20">
  <div
    class="artikel-container flex flex-col items-center mx-auto px-4 sm:px-6 lg:px-0 max-w-[1200px] w-full justify-center">
    <h2 class="text-4xl sm:text-5xl lg:text-[64px] font-bold text-black mb-10 text-center">Artikel</h2>

    <div class="artikel-list flex flex-wrap justify-center gap-[25px]">
      <!-- Card 1 -->
      <div class="px-4 sm:px-6 lg:px-0">
        <a href="/artikelPage.html" class="block mb-6">
          <div
            class="artikel-card rounded-2xl shadow-md bg-white overflow-hidden cursor-pointer transform transition duration-300 hover:scale-105 hover:shadow-2xl max-w-[383.2px] w-full mx-auto">
            <img class="w-full h-[232.11px] object-cover" src="/assets/artikelMelanoma.jpg" alt="Melanoma" />
            <div class="px-6 py-4 mb-10 h-[164px]">
              <div class="text-black font-bold text-xl mb-2">Kanker Melanoma</div>
              <p class="text-gray-700 text-base line-clamp-4">
                Kanker kulit melanoma adalah kanker kulit yang berkembang dari melanosit. Selain di kulit, melanoma juga
                dapat muncul di mata. Bahkan, pada kasus yang jarang terjadi, melanoma bisa tumbuh di dalam hidung atau
                tenggorokan.
              </p>
            </div>
          </div>
        </a>
      </div>

      <!-- Card 2 -->
      <div class="px-4 sm:px-6 lg:px-0">
        <a href="/artikelPage.html" class="block mb-6">
          <div
            class="artikel-card rounded-2xl shadow-md bg-white overflow-hidden cursor-pointer transform transition duration-300 hover:scale-105 hover:shadow-2xl max-w-[383.2px] w-full mx-auto">
            <img class="w-full h-[232.11px] object-cover" src="/assets/artikel2.jpg" alt="Kanker Kulit" />
            <div class="px-6 py-4 mb-10 h-[164px]">
              <div class="text-black font-bold text-xl mb-2">Seputar Kanker Kulit, Gejala hingga Pencegahannya</div>
              <p class="text-gray-700 text-base line-clamp-4">
                Kanker kulit adalah kondisi pertumbuhan sel-sel kulit yang tidak normal. Kondisi ini sering kali tidak
                disadari karena gejala awalnya mirip masalah kulit biasa.
              </p>
            </div>
          </div>
        </a>
      </div>

      <!-- Card 3 -->
      <div class="px-4 sm:px-6 lg:px-0">
        <a href="/artikelPage.html" class="block mb-6">
          <div
            class="artikel-card rounded-2xl shadow-md bg-white overflow-hidden cursor-pointer transform transition duration-300 hover:scale-105 hover:shadow-2xl max-w-[383.2px] w-full mx-auto">
            <img class="w-full h-[232.11px] object-cover" src="/assets/artikel3.jpg" alt="Paparan Matahari" />
            <div class="px-6 py-4 mb-10 h-[164px]">
              <div class="text-black font-bold text-xl mb-2">Paparan Matahari sebabkan Kanker Kulit</div>
              <p class="text-gray-700 text-base line-clamp-4">
                Radiasi akibat paparan matahari sangatlah berbahaya bagi kulit, bahkan mampu meningkatkan risiko kamu
                terkena kanker kulit. Sebenarnya, kulit membutuhkan sinar matahari dalam pembentukan dan kesehatan
                tulang, karena sinar matahari dapat membantu memenuhi kebutuhan vitamin D untuk tubuh.
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>