<footer class="footer bg-[#2E5077] text-white w-[100%]">
    <div
        class="container max-w-[1200px] w-full mx-auto py-[24px] px-4 sm:px-6 xl:px-0 flex md:flex-row flex-col items-center justify-between">
        <div class="text-sm text-white">
            &copy; 2023 Skinalyze. All rights reserved.
        </div>
        <div class="flex gap-4 mt-4 md:mt-0">
            <a href="#" class="text-[#F6F4F0] hover:text-blue-300 transition">Privacy Policy</a>
            <a href="#" class="text-[#F6F4F0] hover:text-blue-300 transition">Terms of Service</a>
            <a href="#" class="text-[#F6F4F0] hover:text-blue-300 transition">Contact Us</a>
        </div>
    </div>
</footer>